.post-container{
  -ms-grid-column-align: center;
      justify-self: center;
}

.post-container h5,
.post-container p{
  text-align: start;
  margin-bottom: 5px;
}

.post-container h5{
  font-size: bold;
}

.card-body{
  height: auto;
  padding: 10px 20px 10px 0;
}

.card-body:hover{
 cursor: pointer;
}

.location{
  font-size: 14px;
  margin-bottom: 0;
}

.card-img-top{
  border-radius: 10px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card{
  background-color: transparent;
  border: none;
  -o-object-fit: cover;
     object-fit: cover;
  word-wrap: anywhere;
}

.post-container:hover .img-overlay{
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(2,0,36,.4)), color-stop(32%, rgba(0,0,0,.4)), to(rgba(255,255,255,0)));
  background: -o-linear-gradient(top, rgba(2,0,36,.4) 0%, rgba(0,0,0,.4) 32%, rgba(255,255,255,0) 100%);
  background: linear-gradient(180deg, rgba(2,0,36,.4) 0%, rgba(0,0,0,.4) 32%, rgba(255,255,255,0) 100%);
  cursor: pointer;
}

.post-container:hover .save-button-on-img{
  opacity: 1;
  -webkit-transition: opacity 250ms;
  -o-transition: opacity 250ms;
  transition: opacity 250ms;
}

.img-overlay{
  position: absolute;
  border-radius: 10px;
  background: rgb(2,0,36);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(2,0,36,0)), color-stop(32%, rgba(0,0,0,0)), to(rgba(255,255,255,0)));
  background: -o-linear-gradient(top, rgba(2,0,36,0) 0%, rgba(0,0,0,0) 32%, rgba(255,255,255,0) 100%);
  background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(0,0,0,0) 32%, rgba(255,255,255,0) 100%);
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.save-button-on-img{
  opacity: 0;
  width: 35px;
  height: 35px;
  margin: 5px 5px 0 0 ;
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.save-button-on-img:hover{
  opacity: .8 !important;
}

.MuiSvgIcon-root{
  font-size: 1.2rem !important;
}