.post-container{
  justify-self: center;
}

.post-container h5,
.post-container p{
  text-align: start;
  margin-bottom: 5px;
}

.post-container h5{
  font-size: bold;
}

.card-body{
  height: auto;
  padding: 10px 20px 10px 0;
}

.card-body:hover{
 cursor: pointer;
}

.location{
  font-size: 14px;
  margin-bottom: 0;
}

.card-img-top{
  border-radius: 10px;
  height: 150px;
  object-fit: cover;
}

.card{
  background-color: transparent;
  border: none;
  object-fit: cover;
  word-wrap: anywhere;
}

.post-container:hover .img-overlay{
  background: linear-gradient(180deg, rgba(2,0,36,.4) 0%, rgba(0,0,0,.4) 32%, rgba(255,255,255,0) 100%);
  cursor: pointer;
}

.post-container:hover .save-button-on-img{
  opacity: 1;
  transition: 250ms;
}

.img-overlay{
  position: absolute;
  border-radius: 10px;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(0,0,0,0) 32%, rgba(255,255,255,0) 100%);
  transition: 150ms;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.save-button-on-img{
  opacity: 0;
  width: 35px;
  height: 35px;
  margin: 5px 5px 0 0 ;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-button-on-img:hover{
  opacity: .8 !important;
}

.MuiSvgIcon-root{
  font-size: 1.2rem !important;
}