.sidebar-search{
  width: 100%;
  height: 35px;
  border-radius: 20px;
  background-color: #F0F2F5;
  padding: 5px 25px 5px 10px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar-search > input{
  width: 100%;
  height: 100%;
  border: none;
  background-color: #F0F2F5;
}

.icon-color{
  color: '#6E7276 !important';
}

.search-container{
  position: sticky;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  padding: 10px 0;
}