.sidebar-element-container{
  width: calc(100% + 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px 10px 10px;
  border-radius: 15px;
  -webkit-transition: background-color 400ms;
  -o-transition: background-color 400ms;
  transition: background-color 400ms;
  margin-left: -10px;
}

.icon-wrapper{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #D3D5D9;
  border-radius: 20px;
  padding: 7px;
  margin-right: 15px;
}

.sidebar-element-container > p{
  width: 100%;
}

.sidebar-element-container:hover{
  background-color: rgba(0, 0, 0, .07);
  cursor: pointer;
  -webkit-transition: background-color 50ms;
  -o-transition: background-color 50ms;
  transition: background-color 50ms;
}

.selected-category > div{
  background-color: #EAF3FF;
}

.selected-category .icon-wrapper{
  background-color: #1877F2;
  color: white;
}

.selected-category > div:hover{
  background-color: #EAF3FF !important;
}

.selected-category:hover .icon-wrapper{
  background-color: #1877F2 !important;
  color: white !important;
}