.sidebar-container{
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  width: 360px;
  height: 100%;
  overflow-y: auto;
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, .2);
          box-shadow: 0 0 18px rgba(0, 0, 0, .2);
  padding: 0 20px 10px 20px;
  background-color: #FFFF;
  scrollbar-width: thin;
}


@media all and (max-width: 900px){
  .sidebar-container{
    height: 130px;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100vw;
    background-color: #FFFFFF;
    overflow: hidden;
  }

  .creating-post-height{
    height: 100% !important;
    overflow: auto;
  }
}